*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #00081D;


}
.main{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(32, 49, 77, 0.75)),url(IN-en-20230515-popsignuptwoweeks-perspective_alpha_website_large.jpg);

    box-shadow: inset 120px 100px 250px black, inset -120px -100px 250px black;
    background-color: #00081D;
}
.header {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header h1{
    color: white;
    text-transform: capitalize;
    font-size: 5rem;
    font-weight: 700;
}
.header h4{
    color: white;
    text-transform: capitalize;
    font-weight: 200;
    font-size: 1.5rem;
}
.header h3{
    color: white;
    text-transform: capitalize;

}
.navbar{
    padding:20px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    height: 60px;   
}
.navbar .btn{
    display: flex;
    gap: 20px;
}
.language{
    padding:5px 10px;
    background-color: transparent;
    border: 2px solid white ;
    font-weight: 800;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}
.signin{
    padding:5px 10px;
    background-color: red;
    border: 2px solid red ;
    font-weight: 800;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}
.btn-started{
    padding:12px 40px;
    background-color: red;
    border: 2px solid red ;
    font-weight: 800;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
.email{
    padding: 14px;
    width: 25%;
    height: 10%;
    border: 1px solid white;
    background: #00000094;
    border-radius: 5px;
}
.home-cards{

    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:20px; 
}
.card{
    background:  linear-gradient(to bottom right, #4F0D39, #310E41 , #170F48);
    border-radius: 12px;
    padding: 20px 40px;   
}
.card h1{
    color: white;
    font-weight: 700;
}
.card h4{
    color: white;
}
.faq{
    padding: 10px 4rem;
    color: white;
}
.faq h2{
    font-weight: 500;
    font-size: 40px;
}
.accordance{
    width: 100%;
    max-width: 1000px;
}
.accordance li{
    list-style: none;
    width: 100%;
    padding-bottom: 5px;
}
.accordance li label{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #223362;
    margin-bottom: 2px; 
    cursor: pointer;
    position: relative;
}
.accordance li label:hover{
    background: #314477;
}
label::after{
    content: '+';
    font-size:  40px;
    position: absolute;
    right: 20px;
}
input[type="radio"]{
    display: none;
}
.accordance .context{
    background: #132144;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordance input{
    max-height: 600px;
    padding: 30px 20px;
}
.accordance input[type="radio"]:checked + label + .context{
    min-height: 100px;
    padding: 30px 20px;
}
.accordance input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.footer .call{
    margin-top: 6rem;
    color: #6e6e6e;
    font-size: larger;
}
.foot{
    margin: 3rem 0;
    display: flex;
    gap: 100px;
    color: #6e6e6e;
    text-decoration: underline;
    font-size: larger;
}
.foot h5{
    padding: 10px 0;
}
.btn-lang h3{
    margin-top: 30px;
    color: #6e6e6e;
}
@media (max-width:1000px){
    .foot{
        flex-direction: column;
        gap: 2rem
        ;
    }
}
@media only screen and (max-width :600px){
    .navbar img{
        height: 35px;
    }
    .language{
        padding: 4px 8px;
    }
    .signin{
        padding: 4px 8px;
    }
    .navbar .btn{
        gap: 5px;
    }
    .header h1{
        font-size: 33px ;
    }
    .header h3{
        font-size: 16px;
    }
    .email{
        width:19rem;
    }
    .btn-started{
        margin-top: 10px;
        padding: 10px 15px;
    }
    .faq{
        padding: 10px 2rem;

    }
    .faq h3{
        font-size: medium;
    }
    .faq h2{
        font-size: 23px;
    }
    .accordance .context{
        font-size: 14px;
    }
    .accordance input[type="radio"]:checked + label + .context{
        min-height: 172px;
    }
    .label::after{
        font-size: 30px;
    }
}
